{% extends "base.html" %}

{% block title %}
  {{app_program}} {{app_name}} | Beneficiary List
{% endblock %}

{% block content %}
<!-- v4 -->
<!-- app-content-header -->
<!--end::App Content-->



  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
   

    <!-- Content Header (Page header) -->
    

        <!--begin::App Content Header-->
        <div class="app-content-header">
          <!--begin::Container-->
          <div class="container-fluid">
            <!--begin::Row-->
            <div class="row">
              <div class="col-sm-6"><h3 class="mb-0">Waitlist Encoding</h3></div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-end">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                </ol>
              </div>
            </div>
            <!--end::Row-->
          </div>
          <!--end::Container-->
        </div>


    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card">

        <div class="card-body">
          <div class="row">

            <div class="col-12 col-md-12 col-lg-9 order-2 order-md-1">

              <div class="row">
                <div class="col-12">
                    <!-- Search Box Section -->
                    <div class="card card-primary card-outline mb-4">
                        <div class="card-header">
                            <h3 class="card-title">Advance Search </h3>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="row g-3">
                                    <!-- Province Dropdown -->
                                    <div class="col-md-4">
                                            <label for="province" class="form-label">Province</label>
                                            <select class="form-select" id="province">
                                                <option value="">Select Province</option>
                                                <!-- Add options dynamically -->
                                            </select>
                                    </div>
                                    
                                    <!-- Municipality Dropdown -->
                                    <div class="col-md-4">
                                            <label for="municipality" class="form-label">Municipality</label>
                                            <select class="form-select" id="municipality">
                                                <option value="">Select Municipality</option>
                                                <!-- Add options dynamically -->
                                            </select>
                                    </div>
                                    
                                    <!-- Barangay Dropdown -->
                                    <div class="col-md-4">
                                           <label for="barangay" class="form-label">Barangay</label>
                                            <select class="form-select" id="barangay">
                                                <option value="">Select Barangay</option>
                                                <!-- Add options dynamically -->
                                            </select>
                                    </div>

                                    <!-- Philsys ID Textbox -->
                                    <div class="col-md-4">
                                            <label for="philsys_id" class="form-label">PhilSys ID</label>
                                            <input type="text" class="form-control" id="philsys_id" placeholder="Enter PhilSys ID">
                                    </div>
                                    
                                    <!-- Beneficiary Name Textbox -->
                                    <div class="col-md-8">
                                            <label for="beneficiary_name" class="form-label">Beneficiary Name</label>
                                            <input type="text" class="form-control" id="beneficiary_name" placeholder="Enter Beneficiary Name">
                                    </div>
                                        


                                </div>


                            </form>
                        </div>
                        <div class="card-footer">
                          <button class="btn btn-info pu" type="submit">
                              <i class="bi bi-search"></i> Search
                          </button>
                        </div>


                    </div>

                    <!-- DataTable Section -->
                    <div class="card card-primary card-outline ">
                        <div class="card-header">
                            <h3 class="card-title">Senior Citizens List</h3>
                            <button type="button" class="btn btn-primary btn-sm float-end add-entry">
                                <i class="bi bi-plus-lg"></i> New Entry
                            </button>                  
                        </div>
                        <div class="card-body">



                            <table id="seniorTable" class="table table-sm table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Senior Citizen ID</th>
                                        <th>Full Name</th>
                                        <th class="d-none d-md-table-cell">Age</th>
                                        <th class="d-none d-md-table-cell">Sex</th>
                                        <th class="d-none d-md-table-cell">Status</th>
                                        <th>Options</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Example Row -->
                                    <tr>
                                        <td>SC12345</td>
                                        <td>Juan Dela Cruz</td>
                                          <td class="d-none d-md-table-cell">70</td>
                                          <td class="d-none d-md-table-cell">Male</td>
                                          <td class="d-none d-md-table-cell">Active</td>
                                          <td>
                                              <button class="btn btn-warning btn-sm edit-entry" title="Edit">
                                                  <i class="bi bi-pencil-square"></i>
                                              </button>
                                              <button class="btn btn-danger btn-sm delete-entry" title="Delete">
                                                  <i class="bi bi-trash"></i>
                                              </button>
<!--                                               <button class="btn btn-info btn-sm bene-history" title="Update History">
                                                  <i class="bi bi-arrow-repeat"></i>
                                              </button>
 -->
                                          </td>
                                    </tr>
                                    <!-- More rows will be added dynamically -->
                                </tbody>
                            </table>




                        </div>
                    </div>
                </div>

              </div>
            </div>


            <div class="col-12 col-md-12 col-lg-3 order-1 order-md-2">
              <h3 class="text-primary"><i class="fas fa-paint-brush"></i> Info!</h3>
              <p class="text-muted">This page displays a list of waitlisted senior citizens who are potential beneficiaries for validation and recommendation. You can efficiently search and manage beneficiary information using advanced search criteria such as province, municipality, and barangay, or by entering specific details like PhilSys ID or beneficiary name. The list includes essential details such as ID, full name, age, sex, and current status, allowing for easy tracking and management. Utilize the available search fields and filters to refine your results and access relevant information quickly.</p>
              <br>
<!-- 
              <div class="text-muted">
                <p class="text-sm">Client Company
                  <b class="d-block">Deveint Inc</b>
                </p>
                <p class="text-sm">Project Leader
                  <b class="d-block">Tony Chicken</b>
                </p>
              </div>

 -->

<!--  
              <div class="text-center mt-5 mb-3">
                <a href="#" class="btn btn-sm btn-primary">Add files</a>
                <a href="#" class="btn btn-sm btn-warning">Report contact</a>
              </div>

 -->

            </div>
          </div>
        </div>
        <!-- /.card-body -->




      </div>
      <!-- /.card -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->


{% endblock %}


    
{% block css_script %}

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">

{% endblock %}


{% block javascript %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<!-- SweetAlert2 -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<script>


    $(document).ready(function() {
        $('#seniorTable').DataTable({
            "paging": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "responsive": true,
            "columnDefs": [
                { "orderable": false, "targets": 5 } // Disable sorting for 'Options' column
            ]
        });

        // history modal ------------------------------------------------------
        // $(document).on("click", ".bene-history", function() {
        //     $("#historyModal").modal("show");
        // });

        // Initialize DataTables
        // $('#basicTable, #statusTable, #addressTable').DataTable({
        //     "processing": true,
        //     "serverSide": false,
        //     "ajax": "fetch_history.php", // Update with your data source
        //     "columns": [
        //         { "data": "field_updated" },
        //         { "data": "old_value" },
        //         { "data": "new_value" },
        //         { "data": "date_updated" },
        //         { "data": "updated_by" }
        //     ]
        // });

        $('#historyModal').on('show.bs.modal', function () {
            // Sample data arrays
            let sampleData = [
                { field: "First Name", oldVal: "Jon", newVal: "Jonathan", date: "2025-02-01", updatedBy: "Admin" },
                { field: "Last Name", oldVal: "mith", newVal: "Smith", date: "2025-01-15", updatedBy: "User1" }
            ];

            let statusData = [
                { field: "Marital Status", oldVal: "Waitlisted", newVal: "Active", date: "2025-01-10", updatedBy: "Admin" }
            ];

            let addressData = [
                { field: "City", oldVal: "Koronadal City", newVal: "General Santos City", date: "2024-03-02", updatedBy: "User2" }
            ];

            // Function to populate tables
            function populateTable(tableId, data) {
                let tbody = $(tableId).find("tbody");
                tbody.empty(); // Clear old data
                data.forEach(row => {
                    let tr = `<tr>
                        <td>${row.field}</td>
                        <td>${row.oldVal}</td>
                        <td>${row.newVal}</td>
                        <td>${row.date}</td>
                        <td>${row.updatedBy}</td>
                    </tr>`;
                    tbody.append(tr);
                });
            }

            // Populate each table
            populateTable("#basicTable", sampleData);
            populateTable("#statusTable", statusData);
            populateTable("#addressTable", addressData);
        });


        // end-history modal ------------------------------------------------------


        $("#btnBeneEditorFormEdit").click(function () {
            $(".editable-form-control").prop("disabled", false); // Enable all fields
            $("#saveBtn").prop("disabled", false); // Enable Save button
            $(".editable-form-control:first").focus(); 
        });

        $(document).on('click','.edit-entry',function(e) {
            e.preventDefault();
            $("#beneficiaryModal").modal("show"); // Open the modal
            $("#beneficiaryEditorForm")[0].reset();
            $('.editable-form-control').prop("disabled", true);
        })

        $(document).on('click','.add-entry',function(e) {
            e.preventDefault();
            $("#beneficiaryModal").modal("show"); // Open the modal
            $("#beneficiaryEditorForm")[0].reset();
            // $(".editable-form-control:first").focus(); 
        })
        $(".delete-entry").click(function (e) {
            e.preventDefault(); // Prevent default action

            Swal.fire({
                title: "Are you sure?",
                text: "You are about to delete this entry. Action cannot be undone!",
                icon: "question",
                showCancelButton: true,
                confirmButtonColor: "#d33",
                cancelButtonColor: "#6c757d",
                confirmButtonText: "Yes, delete it!",
                cancelButtonText: "Cancel"
            }).then((result) => {
                if (result.isConfirmed) {
                    // Perform delete action here (e.g., send an AJAX request or remove the row)
                    Swal.fire("Deleted!", "The entry has been deleted.", "success");
                }
            });
        });
        // compute age
        $("#birth_date").on("change", function () {
            let birthDate = new Date($(this).val());
            let today = new Date();
            let age = today.getFullYear() - birthDate.getFullYear();
            let monthDiff = today.getMonth() - birthDate.getMonth();
            let dayDiff = today.getDate() - birthDate.getDate();

            // Adjust age if birthdate hasn't occurred yet this year
            if (monthDiff < 0 || (monthDiff === 0 && dayDiff < 0)) {
                age--;
            }

            console.log(age);
            if (age >= 60) {
                $("#birth_age").val(age);
                $("#age_error").text("Age");
            } else {
                $("#birth_age").val("0");
                $("#age_error").text("Error: Age must be 60 or above.");
            }
        });
    });
</script>

{% endblock %}


{% block models %}
  
<!-- Bene History Modal -->
<!-- 
<div class="modal fade" id="historyModal" tabindex="-1" role="dialog" aria-labelledby="historyModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="historyModalLabel">Beneficiary Update History</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">



                <div class="card card-primary card-outline card-tabs">
                    <div class="card-header p-0 pt-1 border-bottom-0">
                        <ul class="nav nav-tabs" id="historyTabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="basic-tab" data-bs-toggle="tab" href="#basic-info" role="tab" aria-controls="basic-info" aria-selected="true">Basic Information</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="status-tab" data-bs-toggle="tab" href="#status-info" role="tab" aria-controls="status-info" aria-selected="false">Status</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="address-tab" data-bs-toggle="tab" href="#address-info" role="tab" aria-controls="address-info" aria-selected="false">Address</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content" id="historyTabsContent">
                            <div class="tab-pane fade active show" id="basic-info" role="tabpanel" aria-labelledby="basic-tab">
                                <table id="basicTable" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Field Updated</th>
                                            <th>Old Value</th>
                                            <th>New Value</th>
                                            <th>Date Updated</th>
                                            <th>Updated By</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="status-info" role="tabpanel" aria-labelledby="status-tab">
                                <table id="statusTable" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Field Updated</th>
                                            <th>Old Value</th>
                                            <th>New Value</th>
                                            <th>Date Updated</th>
                                            <th>Updated By</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="address-info" role="tabpanel" aria-labelledby="address-tab">
                                <table id="addressTable" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Field Updated</th>
                                            <th>Old Value</th>
                                            <th>New Value</th>
                                            <th>Date Updated</th>
                                            <th>Updated By</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
 -->

  <!-- Beneficiary Editor Modal -->
  <div class="modal fade" id="beneficiaryModal" style="background: rgba(0, 0, 0, 0.8);" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="beneficiaryModalLabel"  aria-hidden="true">
      <div class="modal-dialog modal-lg" >
          <div class="modal-content" style="background: rgba(0, 0, 0, 0.0);">
              <div class="modal-body">

                <div class="card card-outline card-danger">
                  <div class="card-header">
                    <h3 class="card-title">Beneficiary Information</h3>
                    <div class="card-tools">
                      <button type="button" class="btn btn-tool" id="btnBeneEditorFormEdit">
                          <i class="bi bi-pencil-square"></i> <!-- Bootstrap pencil icon for edit -->
                      </button>
                      <button type="button" class="btn btn-tool" data-lte-toggle="card-maximize">
                        <i data-lte-icon="maximize" class="bi bi-fullscreen"></i>
                        <i data-lte-icon="minimize" class="bi bi-fullscreen-exit"></i>
                      </button>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <!-- /.card-tools -->
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body">
                    
                  <form id="beneficiaryEditorForm" method="POST" disabled>
                      {% csrf_token %}
                      
                      <div class="row">
                          <input type="hidden" class="form-control" id="beneficiary_id" name="beneficiary_id" required>
                          
                          <div class="col-md-4">
                              <label for="philsys_id" class="form-label">PhilSys ID</label>
                              <input type="text" class="form-control editable-form-control" id="philsys_id" name="philsys_id" >
                          </div>
                          <div class="col-md-4">
                              <label for="senior_citizen_id" class="form-label">Senior Citizen ID</label>
                              <input type="text" class="form-control editable-form-control" id="senior_citizen_id" name="senior_citizen_id" >
                          </div>
                          <div class="col-md-4">
                              <label for="biometric_fp disabled" class="form-label">Biometric Data(fp)</label>
                              <input type="text" class="form-control" id="biometric_fp" name="biometric_fp" disabled>
                          </div>
                      </div>


                      <div class="row mt-2">
                          <div class="col-md-4">
                              <label for="first_name" class="form-label">First Name</label>
                              <input type="text" class="form-control editable-form-control" id="first_name" name="first_name" required>
                          </div>
                          <div class="col-md-4">
                              <label for="middle_name" class="form-label">Middle Name</label>
                              <input type="text" class="form-control editable-form-control" id="middle_name" name="middle_name">
                          </div>
                          <div class="col-md-4">
                              <label for="last_name" class="form-label">Last Name</label>
                              <input type="text" class="form-control editable-form-control" id="last_name" name="last_name" required>
                          </div>
                      </div>

                      <div class="row mt-2">
                          <div class="col-md-6">
                              <label for="birth_date" class="form-label">Birth Date</label>
                              <input type="date" class="form-control editable-form-control" id="birth_date" name="birth_date" required>
                          </div>
                          <div class="col-md-3">
                              <label for="birth_age" class="form-label">Age</label>
                              <input type="number" min="60" max="140" value="60" class="form-control " id="birth_age" name="birth_age" required disabled>
                          </div>
                          <div class="col-md-3">
                              <label for="sex" class="form-label">Sex</label>
                              <select class="form-select editable-form-control" id="sex" name="sex" required>
                                  <option value="Male">Male</option>
                                  <option value="Female">Female</option>
                              </select>
                          </div>
                      </div>

                      <div class="row mt-2">
                          <div class="col-md-4">
                              <label for="address_psgc" class="form-label">Province</label>
                              <select class="form-select editable-form-control" id="address_psgc" name="address_psgc">
                                  <option value="">Select Province</option>
                                  {% for province in provinces %}
                                      <option value="{{ province.id }}">{{ province.name }}</option>
                                  {% endfor %}
                              </select>
                          </div>
                          <div class="col-md-4">
                              <label for="address_psgc" class="form-label">Municipality/City</label>
                              <select class="form-select editable-form-control" id="address_psgc" name="address_psgc">
                                  <option value="">Please select</option>
                                  {% for municipality in municipalities %}
                                      <option value="{{ municipality.id }}">{{ municipality.name }}</option>
                                  {% endfor %}
                              </select>
                          </div>
                          <div class="col-md-4">
                              <label for="address_psgc" class="form-label">Barangay</label>
                              <select class="form-select editable-form-control" id="address_psgc" name="address_psgc">
                                  <option value="">Select Barangay</option>
                                  {% for barangay in barangays %}
                                      <option value="{{ barangay.id }}">{{ barangay.name }}</option>
                                  {% endfor %}
                              </select>
                          </div>

                      </div>
                      <div class="row mt-2">
                          <div class="col-md-12">
                              <label for="address" class="form-label">Block/Lot/Street/Purok/etc</label>
                              <textarea class="form-control editable-form-control" id="address" name="address" required></textarea>
                          </div>
                      </div>

                      <div class="row mt-2">
                          <div class="col-md-6">
                              <label for="contact_number" class="form-label">Contact Number</label>
                              <input type="text" class="form-control editable-form-control" id="contact_number" name="contact_number">
                          </div>
                          <div class="col-md-6">
                              <label for="email" class="form-label">Email</label>
                              <input type="email" class="form-control editable-form-control" id="email" name="email">
                          </div>
                      </div>

                      <div class="row mt-2">
                          <div class="col-md-6">
                              <label for="status" class="form-label">Status</label>
                              <select class="form-select editable-form-control" id="status" name="status" required>
                                  <option value="Active">Active</option>
                                  <option value="Inactive">Inactive</option>
                              </select>
                          </div>
                          <div class="col-md-6">
                              <label for="date_registered" class="form-label">Date Registered</label>
                              <input type="date" class="form-control editable-form-control" id="date_registered" name="date_registered">
                          </div>
                      </div>

                      <hr class="mt-4">
                      <h5>Pantawid Beneficiary</h5>

                      <div class="row mt-2">
                          <div class="col-md-3">
                              <label for="is_pantawid" class="form-label">Is Pantawid Beneficiary?</label>
                              <select class="form-select editable-form-control" id="is_pantawid" name="is_pantawid">
                                  <option value="False">No</option>
                                  <option value="True">Yes</option>
                              </select>
                          </div>
                          <div class="col-md-6">
                              <label for="pantawid_hhid" class="form-label">Pantawid HHID</label>
                              <input type="text" class="form-control editable-form-control" id="pantawid_hhid" name="pantawid_hhid">
                          </div>
                          <div class="col-md-3">
                              <label for="pantawid_lowb" class="form-label">Level of Well-Being</label>
                              <select class="form-select editable-form-control" id="pantawid_lowb" name="pantawid_lowb">
                                  <option value="">Select Level</option>
                                  <option value="1">Survival</option>
                                  <option value="2">Subsistence</option>
                                  <option value="3">Self-Sufficient</option>
                              </select>
                          </div>
                      </div>

                      <div class="modal-footer mt-4">
                          <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
                          <button type="submit" class="btn btn-primary editable-form-control">Save</button>
                      </div>
                  </form>

                  </div>
                  <!-- /.card-body -->
                </div>


              </div>
          </div>
      </div>
  </div>


{% endblock %}